<#include "include/header.html">
<body style="height: 700px">
<div id="grid"></div>
<script>
    $("#grid").kendoGrid({
        toolbar:  [{
            name: "create",
            template: '<span class="btn btn-primary k-grid-add">#=text#</span>'
        }, {
            name: "save",
            template: '<span class="btn btn-success k-grid-save-changes">#=text#</span>'
        }, {
            name: "cancel",
            template: '<span class="btn btn-default k-grid-cancel-changes">#=text#</span>'
        },
            {
                name:"delete",
                template: '<span id="delete" class="btn btn-danger">删除</span>'
            }],
        columns: [
            { field: "name" },
            {field: "tel"}
        ],
        dataSource: {
            transport: {
                read: {
                    url: "${base.contextPath}/demo",
                    type: "GET",
                    dataType: "json"
                },
                create: {
                    url: "${base.contextPath}/demo",
                    contentType: "application/json",
                    dataType: "json",
                    type: "POST"
                },
                update: {
                    url: "${base.contextPath}/demo",
                    contentType: "application/json",
                    dataType: "json",
                    type: "PUT"
                },
                destroy: {
                    url: "${base.contextPath}/demo",
                    contentType: "application/json",
                    dataType: "json",
                    type: "DELETE"
                },
                parameterMap: function (options, type) {
                    console.log(arguments);
                    if (type == "read") {
                        return options;
                    } else {
                        return JSON.stringify(options);
                    }
                }
            },
            schema: {
                data: "rows",
                total: "total",
                model : {
                    id : "id"
                }
            },
            serverPaging: true,
            pageSize: 5
        },
        rownumber: true,
        <!-- rowbox是框架组自己加入的，不是kendoui自带的-->
        selectable: "multiple rowbox",
        editable: true,
        pageable: {
            pageSizes: ['All', 5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        }
    });
    $("#delete").click(function() {
        Hap.deleteGridSelection({grid:$('#grid')});
    });
</script>
</body>
</html>